<div class="select">
  <div class="click-handler-hidden"
       [ngClass]="{'click-handler-show':showBox}"
       (click)="hide()">
  </div>
  <div class="select-box big-text"
       (click)="dropDown()">
    <p>{{value}}</p>
    <p>&#11167;</p>
  </div>
  <div class="hidden-box"
       [ngClass]="{'show-box':showBox}">
    <div *ngFor="let item of options"
         (click)="itemSelected(item)"
         class="item big-text">
      <p>{{item.label ? item.label : item.value}}</p>
    </div>
  </div>
</div>
