@import 'variables';

.drop-down-box {
  width: 100%;
  margin: 8px 0;
  border: 1px solid $box-shadow;
  background-color: $bg;
  border-radius: 4px;
  box-sizing: border-box;
}

.filter-bar {
  width: 330px;
  height: 350px;
  background-color: $bg;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 0 5px $box-shadow;
  padding: 24px;
}

.slider-bar {
  display: flex;
  justify-content: flex-start;
}

.slider {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slider-value {
  width: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-search {
  position: relative;
  width: 280px;
  height: 32px;
  border: 1px solid $box-shadow;
  border-radius: 4px;
}

.input-search .input {
  height: 100%;
  width: 100%;
  padding-left: 5px;
  box-sizing: border-box;
}

.input-search .input-img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 1px;
  right: 5px;
}

.search-button {
  border-radius: 7px;
  background-color: $btn;
  color: $bg;
  height: 40px;
  border: none;

  &:hover {
    box-shadow: 0 0 8px $box-shadow;
  }
}

.tags-bar {
  width: 300px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.tags {
  height: 22px;
  background-color: $tag;
  border-radius: 4px;
  margin: 1px 14px 1px 7px;
  padding: 2px 6px;

  &:hover {
    margin-right: 0;
    background-color: $tag-hover;
  }
}

.material-icons {
  font-size: 10px;
}
