$font: #7a828a;
$font-bold: #0b0d0e;
$bg: #FFFFFF;
$bg-shortlist: #FAFBFC;
$wall: #F0F2F3;
$btn: #242A36;
$pop-up-btn: #2E3442;
$box-shadow: #c8ccd0;
$tag: #D0D6DC;
$tag-hover: #9CA2A9;
$line: #333333;
$active: #528ED5;
