/** WARNING: Do NOT import this file in any component style */
@import 'variables';

html, body {
  height: 100%;
}

body {
  line-height: 1;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

input { /* stylelint-disable-line selector-no-type */
  border: none;
  background: none;
}

.upper-case {
  text-transform: uppercase;
}

.bold {
  font-weight: 900;
  color: $font-bold;
}

.big-text {
  font-size: 16px;
}

.vertical-line {
  width: 1px;
  height: 22px;
  border: none;
  background-color: $line;
  opacity: 0.5;
}

.horizontal-line {
  height: 1px;
  border: none;
  background-color: $line;
  opacity: 0.2;
}
